@import "../app.component.scss";

.side-bar {
    float: left;
    height: calc(100% - 110px);
    width: 200px;
    padding-top:50px;
    font-family: Verdana, Helvetica;
    background: $side-bar-background;
}

.side-bar-option {
    float: left;
    width: calc(100% - 35px);
    height: 60px;
    line-height: 60px;
    color: $text-color;
    text-align: left;
    font-size: 14px;
    padding-left: 20px;
    cursor: pointer;
    border: none;
    box-shadow: none;
    outline: none;
}

.side-bar-option-active {
    border-left: 3px solid $side-bar-item-color;
}

.side-bar-option-active > span {
    color: $side-bar-item-color-hover;
}

.side-bar-span {
    font-size: 18px;
    padding-right: 10px;
}