<div class = "side-bar">
  <div title="Home" [ngClass] = "active === 'home'  ? 'side-bar-option side-bar-option-active' : 'side-bar-option'" routerLink = "/home">
    <span class = "fa fa-home side-bar-span"></span> <span class = "side-bar-option-name">HOME</span>
  </div>
  <div title="Truth" [ngClass] = "active === 'truth' ? 'side-bar-option side-bar-option-active' : 'side-bar-option'" routerLink = "/truth">
    <span class = "fa fa-microchip side-bar-span"></span> <span class = "side-bar-option-name">TRUTH</span> 
  </div>
</div>