@import "../app.component.scss";

.nav-bar {
    float: left;
    width: $nav-bar-size-width;
    min-height: $nav-bar-size-height;
    height: auto;
    background: $nav-bar-background;
    box-shadow: 0px 0px 7px 2px $nav-bar-boxshadow;
}

.nav-bar-system-name {
    float: left;
    padding-left: 20px;
    width: 300px;
    height: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 60px;
    color: $text-color-label;
    font-weight: bold;
    font-family: Verdana;
}

.nav-bar-system-version {
    float: left;
    width: 150px;
    height: 100%;
    padding-left: 10px;
    padding-top: 7px;
    color: $version-color;
    font-family: paradise;
    line-height: 50px;
    font-size: 20px;
}