@import "../truth.component.scss";


.truth-table {
    float: left;
    height: 100%;
    width: 100%;
}
.truth-table-row {
    float: left;
    position: relative;
    width: 100%;
    min-height: 50px;
    height: auto;
}
.truth-table-row-scrollable {
    height: calc(100% - 110px);
    overflow-y: auto;
    width: 100%;
}

.truth-table-column {
    float: left;
    position: relative;
    width: 50px;
    min-height: 50px;
    text-align: center;
    line-height: 50px;
    border-right: 1px dashed $border-color;
    cursor: text;
}

.truth-table-column-header {
    border-bottom: 1px solid $boder-live;
    border-right: 1px solid $boder-live;
}
.truth-table-add {
    float: left;
    position: relative;
    width: 140px;
    height: 50px;
    padding-left: 10px;
}
.add-button {
    float: left;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border: 1px dashed $border-color;
    color: $text-color-alive;
    font-size: 16px;
    cursor: pointer;
}
.add-button:hover {
    color: $text-color
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: $text-color;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: $tooltip-color transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.truth-tooltip {
    font-size: 14px;
    line-height: 20px;
}

.truth-remove {
    float: left;
    font-size: 12px;
    margin-top: -60px;
    margin-left: 10px;
    cursor: pointer;
}

.truth-remove:hover {
    color: $text-danger;
}

.truth-edit {
    float: left;
    font-size: 12px;
    margin-top: -60px;
    margin-left: 28px;
    cursor: pointer;
}

.truth-edit:hover {
    color: $edit-color;
}
.truth-input-header {
    font-weight: bold;
    cursor: pointer;
    line-height: 20px;
    height: 40px;
    color: $text-live;
}
.truth-input-header:hover {
    text-shadow: 0px 0px 25px $border-color;
}

.truth-table-expression {
    width:auto; 
    border:none;
    margin-left: 15px; 
    color: $text-live;
    font-size: 18px;
    font-weight: normal;
}