@import "../truth.component.scss";


.truth-variables {
    float: left;
    height: auto;
    width: 50px;
    margin-top: 50px;
}
.truth-expression {
    float: left;
    height: auto;
    width: auto;
    padding-left: 20px;
}

.truth-variables-names {
    float: left;
    height: 50px;
    width: auto;
}
.truth-variable-name {
    float: left;
    height: 50px;
    width: 50px;
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    line-height: 50px;
    border-bottom: 1px solid $border-live;
    border-right: 1px solid $border-live;
    color: $text-live
}
.truth-variable-name > span {
    color: $text-color;
}
.truth-variables-values {
    float: left;
    height: auto;
    width: 50px;
}
.truth-variable-value {
    float: left;
    height: auto;
    width: 50px;
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    line-height: 50px;
    border-right: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    color: $text-color;
}

.truth-variable-result-value {
    float: left;
    height: auto;
    width: 150px;
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    line-height: 50px;
    color: $text-color;
}
.truth-variable-result-value-line {
    border-right: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    float: left;
    height: 50px;
    width: 50px;
}

.truth-variable-result-value-line-expression {
    float: left;
    margin-left: 10px;
}

.truth-variable-result-value-line-expression > .fa {
    color: $text-live;
}

.truth-variable-add {
    float: left;
    height: 50px;
    width: auto;
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    line-height: 50px;
    color: $text-color;
    margin-left: 5px;
}
.truth-input-active {
    color: $text-live;
    width:50px;
}

.truth-table-add {
    float: left;
    position: relative;
    width: 120px;
    height: 50px;
    padding-left: 10px;
}
.add-button {
    float: left;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border: 1px dashed $border-color;
    color: $text-color-alive;
    font-size: 16px;
    cursor: pointer;
}
.add-button:hover {
    color: $text-color
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: $text-color;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: $tooltip-color transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.truth-tooltip {
    font-size: 14px;
    line-height: 20px;
}

.truth-remove {
    float: left;
    font-size: 12px;
    margin-top: -10px;
    margin-left: -40px;
    cursor: pointer;
}

.truth-remove:hover {
    color: $text-danger !important;
}

.truth-edit {
    float: left;
    font-size: 12px;
    margin-top: -60px;
    margin-left: 28px;
    cursor: pointer;
}

.truth-edit:hover {
    color: $edit-color;
}
