@import "../truth.component.scss";

.truth-table {
    float: left;
    width: auto;
    height: calc(100% - 20px);
    max-height: calc(100% - 20px);
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 10px;
}

.truth-table-header {
    position: fixed;
    width: auto;
    height: 53px;
}
.truth-table-body {
    width: auto;
    height: auto;
    padding-top:50px;
}
.truth-table-values {
    float: left;
    width: 51px;
    height: auto;
}
.truth-table-value {
    float: left;
    width: 50px;
    height: 50px;
}
.truth-table-value-line {
    float: left;
    width: 50px;
    height: 50px;
    color: $text-color;
    border-right: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    text-align: center;
    line-height: 50px;
}
.truth-table-value-line-expression {
    float: left;
    text-align: left;
    font-size: 11px;
    width: auto;
    min-height: 50px;
    color: $text-color;
    padding-left: 5px;
    line-height: 50px;
}

.truth-table-value-line-expression > span {
    color: $text-live;
}

.truth-table-header-variable-name {
    float: left;
    background: $truth-table-background-color;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    color: $text-color;
    border-right: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    text-align: center;
}

.truth-option {
    float: left;
    width: auto;
    height: 50px;
    padding-left: 10px;
}

.truth-add-input {
    float: left;
    width: 50px;
    height: 50px;
    border: 1px dashed $border-color;
}
.truth-add-button {
    float: left;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    border: 1px dashed $border-color;
    text-align: center;
    color: $text-color-alive;
    cursor: pointer;
}
.truth-add-button:hover {
    color: $text-color;
}

.truth-input-active {
    width:50px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: $text-color;
    text-align: center;
    border-radius: 2px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: $tooltip-color transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.truth-tooltip {
    font-size: 14px;
    line-height: 20px;
}

.truth-remove {
    float: left;
    font-size: 12px;
    margin-top: -20px;
    margin-left: -45px;
    cursor: pointer;
}

.truth-remove:hover {
    color: $text-danger !important;
}

.truth-expression {
    float: left;
    width: auto;
    height: auto;
    max-height: calc(100% - 20px);
    overflow-y: auto;
    padding-left: 20px;
}

.truth-expression-section {
    height: auto;
}

.truth-expression-label {
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-weight: bold;
}

.truth-expression-value {
    width: 100%;
    max-width: 800px;
    height: auto;
    line-height: 30px;
    font-size: 12px;
    word-wrap: break-word;
}

.truth-expression-mc-kluskey-fragment {
    width: 100%;
    height: 25px;
}
.truth-expression-mc-kluskey-fragment-values {
    width: auto;
    height: 25px;
}

.truth-final-result {
    float: left;
    width: 100%;
}