<div class = "truth-body">
  <div class = "truth-variables" *ngFor = "let variable of variables; let i = index">
    <div class = "truth-variables-names">
      <div class = "truth-variable-name">
        <input #in class = "truth-input truth-input-active" type = "text" [value] = "variable.name" [readonly] = "!editing" (click) = "canEdit()" (focusout) = "editEnd($event, i)">
        <span *ngIf = "variables.length > 1" class = "fa fa-trash truth-remove" (click) = "removeVariable(i)"></span>
      </div>
    </div>
    <div class = "truth-variables-values">
      <div class = "truth-variable-value" *ngFor = "let line of variable.lines;">
        {{ line }}
      </div>
    </div>
  </div>
  <div class = "truth-variables">
    <div class = "truth-variables-names">
      <div class = "truth-variable-name">
        {{ result.name }}
      </div>
    </div>
    <div class = "truth-variables-values">
      <div class = "truth-variable-result-value" style="height:50px;" *ngFor = "let line of result.lines | async;">
        <div class = "truth-variable-result-value-line">
          <input class = "truth-input truth-input-header" type = "text"  [value] = "line.number" (keyup.enter)="resultEdit($event, line)" (focusout) = "resultEdit($event, line)">
        </div>
        <div class = "truth-variable-result-value-line-expression" *ngIf = "line.expression != ''">
          <span class = "fa fa-chevron-right" style = "font-size: 12px;"></span>  {{ line.expression }}
        </div>
      </div>
    </div>
  </div>
  <div class = "truth-variable-add">
    <div class = "add-button" *ngIf = "newVariable">
      <input #in class = "truth-input" type = "text" placeholder = "new var" (focusout)="haveNewVariable(in.value.trim())" (keyup.enter)="haveNewVariable(in.value.trim())" autofocus> 
    </div>
    <div class = "tooltip add-button">
      <div *ngIf = "!newVariable" (click) = "addVariable()">
        <span class = "fa fa-plus"></span>
        <span class = "tooltiptext truth-tooltip"> add variable </span>
      </div>
      <div *ngIf = "newVariable" (click) = "newVariable = false">
        <span class = "fa fa-close"></span>
        <span class = "tooltiptext truth-tooltip"> cancel </span>
      </div>
    </div>
  </div>
  <div class= "truth-expression" *ngIf = "finalExpression != ''">
    <b> The resultant expression</b><br><br>
    {{ finalExpression }}
  </div>
  <div class = "truth-error">
  </div>
