@import "../app.component.scss";

@media( max-width: 999px) {
    .home {
        float: left;
        overflow-y: auto;
        width: calc(100% - 20px);
        height: 400px;
        padding-top: calc( 50vh - 200px );
        padding-right: 10px;
    }
}
@media( min-width: 1000px) {
    .home {
        float: left;
        overflow-y: auto;
        width: calc(100% - 20px);
        height: 400px;
        padding-top: calc( 50vh - 200px );
        margin-left: -75px;
    }
}

.home-text {
    float: left;
    width: 100%;
    height: auto;
    font-size: 18px;
    color: $text-color;
    font-family: Verdana, Helvetica;
    font-weight: normal;
    text-align: center;
}
.home-gradle {
    float: left;
    width: 100%;
    height: calc(100% - 150px);
    padding-top: 50px;
}
.home-card {
    float: left;
    width: 150px;
    height: 150px;
    margin-left: calc(50% - 75px);
    cursor: pointer;
    background: $item-color;
    border-radius: 4px;
    box-shadow: 0px 0px 10px 1px rgba(44, 28, 28, 0.8)
}
.home-card:hover {
    background: $item-color-hover;
    box-shadow: 0px 0px 10px 1px rgba(85, 47, 47, 0.8)
}
.home-card-body {
    float: left;
    width: 100%;
    height: 80px;
    font-size: 70px;
    text-align: center;
    padding-top:20px;
    color: white;
}
.home-card-info {
    float: left;
    width: 100%;
    height: 50px;
    text-align: center;
    color: white;
}