@import "../truth.component.scss";

.truth-body {
    float: left;
    width: 100%;
    height: calc( 100vh - 200px);
}
.truth-final-result {
    float: left;
    width: 100%;
    padding-top: 20px;
    height: 50px;
    overflow: auto;
}

@media( max-width: 999px) {
    .truth-table {
        float: left;
        width: 100%;
        height: calc(100% - 40px);
        padding-bottom:10px;
        max-height: 100%;
        overflow-x: auto;
    }
    .truth-expression {
        float: left;
        width: 100%;
        min-height: 200px;
        max-height: 100%;
        overflow: auto;
    }

    .truth-table-header {
        float: left;
        position: relative;
        display: flex;
        width: auto;
        height: 53px;
    }
    .truth-table-body {
        float: left;
        position: relative;
        display: flex;
        min-width: 100%;
        height: calc(100% - 55px);
    }
}

@media( min-width: 1000px) {
    .truth-table {
        float: left;
        max-width: calc(50% - 300px);
        height: calc(100% - 40px);
        padding-bottom: 20px;
        padding-top: 20px;
        padding-right: 20px;
        overflow-x: auto;
    }
    .truth-expression {
        float: left;
        max-height: calc(100% - 40px);
        width: calc(50% - 20px);
        height: auto;
        overflow: auto;
    }

    .truth-table-header {
        float: left;
        position: relative;
        display: flex;
        width: auto;
        height: 53px;
    }
    .truth-table-body {
        float: left;
        position: relative;
        display: flex;
        min-width: 100%;
        width: auto;
        height: calc(100% - 55px);
    }
}
.truth-table-values {
    float: left;
    width: 51px;
    height: 100%;
}
.truth-table-value {
    float: left;
    width: 50px;
    height: 50px;
}
.truth-table-value-line {
    float: left;
    width: 50px;
    height: 50px;
    color: $text-color;
    border-right: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    text-align: center;
    line-height: 50px;
}
.truth-table-value-line-expression {
    float: left;
    text-align: left;
    font-size: 11px;
    width: auto;
    min-height: 50px;
    color: $text-color;
    padding-left: 5px;
    line-height: 50px;
}

.truth-table-value-line-expression > span {
    color: $text-live;
}

.truth-table-header-variable-name {
    float: left;
    background: $truth-table-background-color;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    color: $text-color;
    border-right: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    text-align: center;
}

.truth-option {
    float: left;
    width: 120px;
    height: 50px;
    padding-left: 25px;
}

.truth-add-input {
    float: left;
    width: 50px;
    height: 50px;
    border: 1px dashed $border-color;
    background: $container-background;
}
.truth-add-button {
    float: left;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    border: 1px dashed $border-color;
    text-align: center;
    color: $text-color-alive;
    cursor: pointer;
    background: $container-background;
}
.truth-add-button:hover {
    color: $text-color;
}

.truth-input-active {
    width:50px;
}

.truth-tooltip {
    font-size: 14px;
    line-height: 20px;
}

.truth-remove {
    float: left;
    font-size: 12px;
    margin-top: -20px;
    margin-left: -45px;
    cursor: pointer;
}

.truth-remove:hover {
    color: $text-danger !important;
}
.truth-expression-section {
    padding: 10px;
    height: auto;
}

.truth-expression-label {
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-weight: bold;
}

.truth-expression-value {
    width: 100%;
    max-width: 800px;
    height: auto;
    line-height: 30px;
    font-size: 12px;
    word-wrap: break-word;
}
.truth-expression-mc-cluskey-level {
    float: left;
    border: 1px solid $text-color-label;
    text-align: center;
    width: 100%;
    max-height: 15px;
    line-height: 15px;
    font-weight: bold;
}
.truth-expression-mc-cluskey-fragment {
    float: left;
    width: 100%;
    min-height: 25px;
    height: auto;
    text-align: center;
    border: 1px solid $text-color-label;
    border-top: none;
    word-wrap: break-word;
}
.truth-expression-mc-cluskey-fragment-name {
    float: left;
    width: calc(30% - 2px);
    height: 100%;
    line-height: 20px;
    border-right: 1px solid $text-color-label;
    word-wrap: break-word;
}
.truth-expression-mc-cluskey-fragment-value {
    float: left;
    width: calc(40% - 2px);
    height: 100%;
    line-height: 20px;
    word-wrap: break-word;
}
.truth-expression-mc-cluskey-fragment-variable {
    float: left;
    width: calc(30% - 2px);
    height: 100%;
    line-height: 20px;
    border-right: 1px solid $text-color-label;
    word-wrap: break-word;
}

.truth-compiler {
    margin-top: 5px;
}