<div class = "truth-body">
  <div class = "truth-table">
      <div class = "truth-table-header">
        <div class = "truth-table-header-variable-name" *ngFor = "let variable of variables; let i = index">
          <input #in class = "truth-input truth-input-active" type = "text" [value] = "variable.name" [readonly] = "!editing" (click) = "canEdit()" (focusout) = "editEnd($event, i)">
          <span *ngIf = "variables.length > 1" class = "fa fa-trash truth-remove" (click) = "removeVariable(i)">
          </span>
        </div>
        <div class = "truth-table-header-variable-name">
          {{ result.name }}
        </div>
        <div class = "truth-option">
          <div class = "truth-add-input" *ngIf = "newVariable">
            <input #in class = "truth-input" type = "text" placeholder = "new var" (focusout)="haveNewVariable(in.value.trim())" (keyup.enter)="haveNewVariable(in.value.trim())" autofocus> 
          </div>
          <div class = "tooltip truth-add-button">
            <div *ngIf = "!newVariable" (click) = "addVariable()">
              <span class = "fa fa-plus"></span>
            </div>
            <div *ngIf = "newVariable" (click) = "newVariable = false">
              <span class = "fa fa-close"></span>
            </div>
          </div>
        </div>
      </div>
      <div class = "truth-table-body">
        <div class = "truth-table-values"  *ngFor = "let variable of variables;">
          <div class = "truth-table-value" *ngFor = "let line of variable.lines">
            <div class = "truth-table-value-line">
              {{ line }}
            </div>
          </div>
        </div>
        <div class = "truth-table-values">
          <div class = "truth-table-value" *ngFor = "let line of result.lines | async;">
            <div class = "truth-table-value-line">
              <input class = "truth-input truth-input-header" type = "text"  [value] = "line.number" (keyup.enter)="resultEdit($event, line)" (focusout) = "resultEdit($event, line)">
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class= "truth-expression" *ngIf = "expression$.getValue()">
    <div class = "truth-expression-section">
      <div class = "truth-expression-label">
        <label> The truth table expression</label>
      </div>
      <div class = "truth-expression-value">
        {{ expression$.getValue() }}
      </div>
    </div>
    <div class = "truth-expression-section" *ngIf = "evaluating">
      <div class = "truth-expression-label">
        <label> The Mc Cluskey simplification expression</label>
      </div>
      <div class = "truth-expression-value" *ngFor = "let resolved of mcCluskeyResolved?.solution">
        <div class = "truth-expression-mc-cluskey-level">
          Level - {{ resolved.level }}
        </div>
        <div class = "truth-expression-mc-cluskey-fragment" *ngFor = "let fragment of resolved.fragments">
          <div class = "truth-expression-mc-cluskey-fragment-name">
            {{ fragment.name }}
          </div>
          <div class = "truth-expression-mc-cluskey-fragment-variable">
            {{ fragmentVariables( fragment ) }}
          </div>
          <div class = "truth-expression-mc-cluskey-fragment-value">
            {{ fragment.valuesAsString }}
          </div>
        </div>
      </div>
      <div class = "truth-compiler" style = "padding-bottom: 2px; margin-top: 5px;">
        {{ status }}
      </div>
    </div>
    <div class = "truth-expression-section" style = "margin-top:10px;">
      <button (click) = "executeMcCluskey()">Evaluate</button>
    </div>
  </div>
  <div class = "truth-final-result" *ngIf = "mcCluskeyResolved">
    <span class = "truth-final-method-name">MC-CLUSKEY </span><span class = "truth-final-result-text">RESULT </span><span class = "fa fa-chevron-right truth-final-result-text" style = "font-size: 12px;"></span> {{ mcCluskeyResolved.simplified }}
  </div>
</div>
