html, body {
    float: left;
    padding: 0px !important;
    margin: 0px !important;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

@font-face {
    font-family: paradise;
    src: url(fonts/AnotherdayinParadise.ttf);
}