$nav-bar-size-height: 60px;
$nav-bar-size-width: 100%;

$side-bar-size-width: 200px;
$side-bar-size-width-min: 50px;
$side-bar-size-height: calc(100% - 60px - 50px);

$border-color:rgba(255, 255, 255, 0.8);
$border-live: rgba(11, 206, 53, 0.932);
$border-unlive: rgba(0, 0, 0, 0.9);
$text-color: rgba(255, 255, 255, 0.8);
$text-color-alive: rgba(255, 255, 255, 0.4);
$tooltip-color: rgba(255, 255, 255, 0.8);
$text-danger:rgba(206, 11, 11, 0.932);
$edit-color: rgba(11, 206, 53, 0.932);
$text-live: rgba(11, 206, 53, 0.932);
$text-shadow-color: rgba(255, 255, 255, 0.8);
$text-warning:rgba(245, 182, 10, 0.8);

$text-color-label: rgba(17, 128, 192, 0.932);

$item-color: rgba(51, 130, 194, 0.932);
$item-color-hover: rgba(54, 157, 241, 0.932);

$side-bar-item-color: rgba(46, 140, 216, 0.932);
$side-bar-item-color-hover: rgba(46, 140, 216, 0.932);

$version-color: rgba(38, 212, 255, 0.932);

$nav-bar-background: rgb(30, 31, 39);
$nav-bar-boxshadow:rgba(38, 212, 255, 1);
$container-background: rgb(30, 31, 39);
$side-bar-background: rgb(30, 31, 39);

$truth-table-text-color: rgba(255, 255, 255, 0.8);
$truth-table-background-color: rgb(21, 116, 194);

@media( max-width: 999px) {
    .ui-container {
        float: left;
        background: $container-background;
        color: $text-color;
        width: calc(100% - 50px);
        height: calc(100% - 60px);
    }
}
@media( min-width: 1000px) {
    .ui-container {
        float: left;
        background: $container-background;
        color: $text-color;
        width: calc(100% - 200px);
        height: calc(100% - 60px);
    }
}